<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7245466976-vh3vqj34fr512cuhibfu759mbfvrcq4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7245466976-vh3vqj34fr512cuhibfu759mbfvrcq4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBoWYiSCt-GdpqUdLu6w9-0G516_lu7iAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7245466976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungtv.testsignin</string>
	<key>PROJECT_ID</key>
	<string>testsignin-1586233942375</string>
	<key>STORAGE_BUCKET</key>
	<string>testsignin-1586233942375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7245466976:ios:edb7029cb6f5fefaad6205</string>
	<key>DATABASE_URL</key>
	<string>https://testsignin-1586233942375.firebaseio.com</string>
</dict>
</plist>